@use '../../../../styles/colors.scss';

.add_task {
  display: flex;
  flex-direction: column;
  padding: 48px 35px;
  gap: 24px;
  max-width: 1440px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:first-child {
      font-weight: 700;
      font-size: 61px;
    }

    .close {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  .area_mid {
    display: flex;
    gap: 50px;

    .area_left,
    .area_right {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      .carlenda p {
        height: 24px;
      }
      .carlenda .required {
        color: colors.$errorRed;
      }

      input {
        height: 54px;
        &:focus {
          border-color: colors.$buttonBlue;
        }
      }

      textarea {
        resize: none;
        display: flex;
        align-items: center;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        height: 120px;
        width: 100%;
        padding: 5px 10px;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        &::placeholder {
          padding-top: 20px;
          font-size: 20px;
          color: colors.$bgMiddleGrey;
        }
        &:focus {
          border-color: colors.$buttonBlue;
          outline: none;
        }
      }
    }
    .area_right {
      .priority {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 440px;
        .button_container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          width: 136px;
          border-radius: 13px;
          background: white;
          &:hover {
            cursor: pointer;
            box-shadow: -3px 5px 8px #aea9a9;
          }
          &.urgent {
            background: colors.$bgOrange;
          }
          &.medium {
            background: colors.$bgYellow;
          }
          &.low {
            background: colors.$bgGreen;
          }
          &.urgent,
          &.medium,
          &.low {
            span,
            svg path {
              color: #fff;
              fill: #fff;
            }
            &:hover {
              box-shadow: 0;
            }
          }
          .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 56px;
            gap: 8px;
            font-size: 20px;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .assigned_logos {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }
  .sc_logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  .required {
    color: colors.$errorRed;
  }
  .area_input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .area_input_label {
      font-size: 20px;
      color: #2a3647;
      &:focus-within {
        border-style: solid;
        border-width: thin;
        border-color: colors.$buttonBlue;
      }
      .required {
        color: colors.$errorRed;
      }
    }
    input {
      padding: 12px 21px;
      border: 1px solid colors.$bgMiddleGrey;
      border-radius: 10px;
      font-size: 20px;
      width: 100%;
      outline: none;
      border-style: none;
      &:focus {
        border-color: colors.$buttonBlue;
      }
      &::placeholder {
        color: colors.$bgMiddleGrey;
      }
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: #000;
        transition: background-color 5000s ease-in-out;
      }
    }
  }
  .inner_subtask .inner_icons {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid colors.$bgMiddleGrey;
    border-radius: 10px;
    background: colors.$white;
    &:focus-within {
      border-color: colors.$buttonBlue;
    }
    .subtask_area {
      &:focus {
        border-style: none;
      }
    }
  }

  .subtask_item {
    margin-top: 5px;
    &:hover {
      background-color: colors.$bgMiddleGrey;
      border-radius: 10px;
      cursor: pointer;
    }
    &.editing {
      background-color: colors.$white;
      border-bottom: thin solid colors.$buttonBlue;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .subtask_list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 10px;

    .icons {
      display: flex;
      gap: 5px;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease;
      &.editing {
        flex-direction: row-reverse;
        opacity: 1;
        pointer-events: auto;
      }
    }
    &:hover .icons {
      opacity: 1;
      pointer-events: auto;
    }
    .task_wrapper {
      flex: 1;
      display: flex;
      align-items: center;
    }
    input {
      width: 100%;
      border: transparent;
      background: transparent;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    span {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 20px;
      color: black;
      &.required {
        color: colors.$errorRed;
      }
    }
    div {
      display: flex;
      gap: 25px;
      .button_light,
      .button_dark {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 4px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
      }
      .button_light {
        width: 126px;
        height: 56px;
        border: 1px solid #2a3647;
        background: #fff;

        &:hover {
          border-color: colors.$buttonBlue;
          color: colors.$buttonBlue;
        }
      }
      .button_dark {
        span {
          color: white;
        }
        width: 183px;
        height: 56px;
        background-color: #2a3647;
        color: colors.$white;
        font-size: 21px;
        font-weight: 700;
        border: none;
        transition: all 100ms ease-in-out;

        &:hover {
          background: #29abe2;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transform: none;
        }
        &:active {
          background: #091931;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  .error_border {
    border: 1px solid red !important;
    border-radius: 10px;
  }
  .error_text {
    color: red;
    font-size: 12px;
  }
  .seperator {
    border-left: 1px solid colors.$bgMiddleGrey;
  }
}
.create_task_message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .task_error_message,
  .task_added_message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background: colors.$bgGrey;
    color: colors.$white;
    border-radius: 10px;
    font-size: 18px;
  }
}

@media (max-width: 1400px) {
  .add_task {
    gap: 0px;

    header span:first-child {
      font-size: 50px;
    }

    .area_mid {
      flex-direction: column;
      max-height: calc(100vh - 400px);
      overflow-y: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .area_right .priority .button_container .buttons {
        font-size: 15px;
        svg {
          height: 15px;
        }
      }
    }
  }
}
