@use '../../../styles/colors.scss';

.board_area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;

  @media (max-width: 980px) {
    scrollbar-width: none;
    -ms-overflow-style: none;

    .board_area::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
      display: none;
    }
  }
}

.board {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  padding-bottom: 100px;
  width: 100%;

  @media (max-width: 1400px) {
    padding-bottom: 180px;
  }
}

.area_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-bottom: 24px;

  @media (max-width: 740px) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 12px;
    max-width: 100%;
  }

  @media (max-width: 580px) {
    display: grid;
    grid-template-areas:
      'title button'
      'search search';
    grid-template-columns: 1fr auto;
    row-gap: 12px;
    column-gap: 12px;

    .area_top > span {
      grid-area: title;
    }

    .search_task_box {
      grid-area: search;
      width: 100%;
      max-width: 100%;
    }

    .circle_add_task_mobile {
      grid-area: button;
      justify-self: end;
    }
  }

  > span {
    font-weight: 700;
    font-size: 61px;
    color: colors.$black;

    @media (max-width: 740px) {
      font-size: 47px;
      grid-column: 1;
      grid-row: 1;
    }
  }

  .search_task_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    padding: 0 16px;
    height: 48px;
    border-radius: 20px;
    background-color: colors.$white;

    &:focus-within {
      outline: colors.$buttonBlue solid 2px;
    }

    width: 100%;
    max-width: 100%;
    @media (min-width: 581px) {
      width: 312px;
    }

    input {
      width: 230px;
      height: 48px;
      padding: 8px 16px;
      background-color: colors.$white;
      border: none;
      font-size: 20px;
      font-family: 'Inter', sans-serif;

      &::placeholder {
        color: colors.$bgMiddleGrey;
      }

      &:focus {
        outline: none;
      }

      @media (max-width: 740px) {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 2;
      }
    }

    .separator {
      width: 1px;
      height: 16px;
      background-color: #d1d1d1;
      margin: 0 4px;
    }

    svg {
      width: 20px;
      height: 20px;
      border-radius: 50%;

      &:hover {
        background-color: colors.$bgLightGrey;
        transition: background-color 150ms ease-in-out;
      }
    }
  }

  .right_top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    @media (max-width: 580px) {
      display: contents;
    }
  }

  .button_dark {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 48px;

    @media (max-width: 740px) {
      display: none;
    }

    &:hover {
      background: #29abe2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-color: colors.$buttonBlue;
      transition: none;
      transform: none;
      border-radius: none;
    }
  }

  .circle_add_task_mobile {
    display: none;

    @media (max-width: 740px) {
      display: flex;
      align-items: center;
      justify-content: center;

      grid-column: 2;
      grid-row: 1;

      width: 40px;
      height: 40px;

      background-color: colors.$navBgActiveGrey;
      border-radius: 16px;
      border: none;
      padding: 0;
      cursor: pointer;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.drag-test-box {
  width: 200px;
  height: 100px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.board_columns {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;

  @media (max-width: 1050px) {
    flex-direction: column;
  }
}

.board_column {
  border-radius: 16px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: 1050px) {
    width: 100%;
  }
}

.column_title {
  font-weight: 700;
  font-size: 16px;
}

.column_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.add_task_btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    svg rect {
      stroke: #4589ff;
    }

    svg path {
      stroke: #4589ff;
    }
  }
}

.column_drop_area {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: 1050px) {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;

    gap: 12px;
    padding-bottom: 8px;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
}

.no_tasks_box {
  width: 100%;
  height: 48px;
  background-color: #e7e7e7;
  border-radius: 10px;
  border: 1px dashed #a8a8a8;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 5px;
}

.task_card {
  cursor: grab;

  @media (max-width: 1050px) {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}

.task_card:active {
  cursor: grabbing;
}

@media (max-width: 1050px) {
  .column_drop_area {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .column_drop_area::-webkit-scrollbar {
    display: none;
  }
}
